server {
    listen       80;
    server_name  _;

    location ${BASE_PATH} {
        alias /usr/share/nginx/html/;
        try_files $uri $uri/ ${BASE_PATH}index.html;
    }

    # Health check endpoint para Kubernetes probes
    location /healthz {
        access_log off;
        return 200 'ok';
        add_header Content-Type text/plain;
    }
}